# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.DethOfField.iml
# Datasource local storage ignored files
/../../../../../../:\Git_Book\DethOfField\.idea\.idea.DethOfField\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
